# Ignoruj všetko okrem súborov, ktoré výslovne povolíme
*

# ✅ Výnimky, ktoré sa majú sledovať v Gite:
!.output/
!.output/**
!.output/node_modules

!ecosystem.config.js
!.env.example

# Ak máš statický hosting niektorých častí
!/public/
!/static/

# Ak používate vlastný Nginx alebo deploy skripty
!nginx.conf
!deploy.sh


# Ignoruj citlivé alebo dev-only súbory
.env
node_modules/
.nuxt/
.vscode/
dist/
build/
coverage/
.DS_Store
.idea/
*.log
ecosystem.config.js